body {
	text-align: center;
	background-color: MintCream;
	font-family: 'Trebuchet MS', sans-serif;
}

a:link, a:visited{
	color: sandybrown;
	text-decoration: underline;
}

h3 {
	font-family: 'Trebuchet MS', sans-serif;
}

#disc {
	background-color: Red;
	text-align: center;
	color: Yellow;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

<hr style="width:500;color:gainsboro">